{{ define "main" }}
   {{ partial "about.html" .}}
   {{ $site := .Site }}

{{ $sections := slice "publications" "blog" }}
{{ $projects := $site.GetPage "section" "projects" }} <!-- Get all projects -->

{{ range .Site.Params.sections }}
   {{ $sectionName := . }}
   {{ if eq . "projects" }} <!-- Single projects section -->
      {{ if $projects }}
         {{ $projects.Scratch.Set "sectionId" "projects" }}
         {{ partial "sectionSummary" $projects }}
      {{ end }}
   {{ else if in $sections . }}
      {{ with $site.GetPage "section" . }}
         {{ .Scratch.Set "sectionId" $sectionName }}
         {{ partial "sectionSummary" . }}
      {{ end }}
   {{ else }}
      {{ partial (printf "portfolio/%s" . ) $site }}
   {{ end }}
{{ end }}
{{ end }}
